.frame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.body{
  margin-top: 0px;
  width: 1270px;
  height: 660px;
  background-image: linear-gradient(to bottom, #81C784, #A5D6A7);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.596);
  border-radius: 25px;
}
.welc{
  color: white;
  font-size: 40px;
  font-family: "Poppins", serif;
  font-weight: 500;
}
.welcQues{
  color: white;
  font-size: 20px;
  font-weight: 400;
}