.frame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.body{
  margin-top: 10px;
  width: 1270px;
  height: 630px;
  background-color: rgb(75, 75, 75);
  border: solid 1px white;
  border-radius: 25px;
}
.in{
  display: flex;
  justify-content: center;
  align-items: center;
}