.div{
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 20px;
}
h1{
  margin: 5px 0px;
  font-family: "Odibee Sans", serif;
  font-size: xx-large;
  color: #81C784;
}
.logo{
  width: 50px;
  margin: 10px 0px;
}