@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  /*chat bg*/
  --color-teal : #E6EFE9;
   /*user text*/
  --color-emerald : #333333;
  /*Ai msg*/
  --color-sky: #E8F5E9;
  /*ai border*/
  --color-indigo: #4c8a4f;
  /*place holder color*/
  --color-stone : #828282;
  /*send button bg*/
  --color-cyan: #2E7D32;
  --color-cyan-50 : #388E3C;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #95eba2;
  margin-top: 20px;
}
::-webkit-scrollbar-thumb {
  background: #2d9a0f;
}
::-webkit-scrollbar-thumb:hover {
  background: #55b63a;
}